@model CRUD_MVC.Models.UpdatePersonViewModel


<h1> Edit Person</h1>
<form method="post" action="View" class="mt-5">

    <div class="mb-3">
    <label for="" class="form-label">Person Id</label>
    <input type="text" class="form-control"asp-for="Id" readonly>
  </div>


  <div class="mb-3">
    <label for="" class="form-label">Person Name</label>
    <input type="text" class="form-control"asp-for="Name">
  </div>
   <div class="mb-3">
    <label for="" class="form-label">Email Adress</label>
    <input type="email" class="form-control"asp-for="Email">
  </div>

   <div class="mb-3">
    <label for="" class="form-label">Salary </label>
    <input type="number" class="form-control"asp-for="Salary">
  </div>


  

     <div class="mb-3">
    <label for="" class="form-label">Departmen </label>
    <input type="text" class="form-control"asp-for="Departmen">
  </div>



  <button type="submit" class="btn btn-primary">Submit</button>
    <button type="submit" class="btn btn-danger" asp-action="Delete" asp-controller="Person">Delete</button>

</form>